#local .terraform dir
.terraform/*

#tf state files
*.tfstate
*.tfstate.*

#tf variable files, may onclude sensitive data
*.tfvars

.txt
.csv
id_rsa
id_rsa.pub
terraform/terra-basic/admin_accessKeys.csv

